#navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;

    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

#navigation-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1700px;

    padding: 0 20px;
}

#navigation-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

#name-of-project {
    font-size: 22px;
    font-weight: 500;
    color: white;
}

#green-header {
    font-size: 26px;
    font-weight: bold;
    color: #49c04f;
}

#git-link {
    text-decoration: none;
    font-size: 28px;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
}

#git-link:hover {
    color: rgba(255, 255, 255, 1);
}

#git-link::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #49c04f;
    
    position: absolute;
    width: 0%;
    transition: all ease-in-out 200ms;
}

#git-link:hover::after {
    width: 100%;
  }