.main-content {
    display: flex;
    justify-content: center;

    height: auto;
    width: 100%;
}

.content-wrap {
    display: flex;
    justify-content: center;

    min-height: 50vh;
    width: 100%;
    max-width: 1700px;

    padding: 50px 20px;

    background-color: rgba(127, 255, 212, 0.295);
}
